#custom-nav {
  padding-top: 1em;
  padding-bottom: 1em;
  opacity: 1;
  box-shadow: none;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  -webkit-font-smoothing: antialiased;

  &.affix {
      top: 0;
      min-width: 100%;
      padding-top: .25em;
      padding-bottom: .5em;
      -webkit-transition: background .5s ease-in-out, padding .8s;
      -moz-transition: background .5s ease-in-out, padding .8s;
      -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
      -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
      transition: background .5s ease-in-out, padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
  }

  & > div.container {
      @media (max-width: 1199px) {
          width: 100%;
          max-width: none;
      }
  }
}